#logo {
  width: 35%;
}
.footer-li {
  margin-right: 10px;
}
.bold {
  font-weight: bold;
}
.nav-items-color {
  color: brown;
}
.margin {
  margin-bottom: 40px;
}
.margin-right {
  margin-right: 10px;
}
.style-black {
  color: black;
}
.color-icon {
  color: rgb(184, 48, 123);
}
.btn-style {
  background-color: rgb(206, 65, 96);
  border-color: rgb(206, 65, 96);
}

#container-cart,
#emptyCart {
  display: none;
}
.div-flex {
  display: flex;
  justify-content: space-between;
}
.padding {
  padding-left: 20px;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
  margin: 50px;
  font-family: "Times New Roman", Times, serif;
}
.btnAdjascent {
  display: flex;
  justify-content: space-evenly;
}

